@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Reset CSS */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration-line: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Custom CSS */


p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

html{
    font-family: 'Inter', sans-serif;
    color: #C5C6CE;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    margin-top: 30px;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 41px;
}

a {
    color: #5E607A;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    
}

img {
    max-width: 100%;
    height: auto;
}

body{
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: 66% 31.5%;
    gap: 0px 2.5%;
}

main > section{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

#hamburger{
    display: none
}

#logo-nav {
    width: 64.09px;
    height: 39.9px;
}

#image-main {
    grid-column: span 2;
}

.container {
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 16px;
}

.picture-main{
    width: 100%;
}

#title-main{
    font-size: 56px;
    font-weight: 800;
    line-height: 56px;
    color: #00001A;
}

#desc-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: #5E607A;
}

#read-more {
    background-color: #F15D51;
    color: #FFFDFA;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.375px;
    padding: 15px 25px;
}



.news {
    background-color: #00001A;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;

    h2 {
        color: #E9AA52;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        
    }

    h3 {
        color: #FFFDFA;
        font-size: 20px;
        font-weight: 800;
        line-height: 24px;
        padding: 10px 0px;
        
    }

    hr {
        border: solid #5E607A 1px;
        width: 100%;
    }

}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;

    .article-list{
        display: grid;
        grid-template-columns: 30% 1fr;
        gap:16px;
    }
    
    .color-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #5E607A;
    }
    
    .color-list p:first-child{
        color: #C5C6CE;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .color-list h2{
        color:#00001A;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
    }

}


/* Responsive */

@media screen and (max-width: 650px) {

    .container {
        max-width: 375px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 16px;
    }

    #hamburger{
        display: block;
    }

    nav{
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }

    main > section{
        grid-template-columns: none;
    }

    #image-main{
        grid-column: unset;
    }

    
    .list{
        grid-template-columns: 1fr;
        gap: 34px;
    }
    
}
